<div class="container">
  <h1>Editing Link</h1>

  <%= render 'form', link: @link %><br>

  <%= link_to 'Show', @link, class:"btn btn-default" %>
  <%= link_to 'Back', links_path, class:"btn btn-default" %>
</div>
