
   <!-- Items listing -->

<div class="container">
<p id="notice"><%= notice %></p>
    <% @links.each do |link| %>
        <h2><%= link_to link.title, link %></h2>
        <h5>Created about <%= time_ago_in_words(link.created_at) %> ago by <%= link.user.email %></h5><hr>
    <% end %>
</div>
